<p style="color: green"><%= notice %></p>

<div class="title-containar">
  <h1>Ideas</h1>
  <%= link_to "New idea", new_idea_path, class: "btn btn-default" %>
</div>


<div class="container mt-2">
  <div class="row">
    <% @ideas.each do |idea| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= render idea %>
      </div> 
    <% end %>
  </div>
</div>


